.about__product {
  padding: 96px 100px;
  justify-content: center;
}

.swiper-text{
  font-size: 32px;
  margin-top: 60px;
  margin-bottom: 96px;
}

@media (max-width:768px){
  .about__product{
    padding: 20px 10px;
  }
  .swiper-text{
font-size: 12px;
margin-top: 50px;
margin-bottom: 20px;
  }
}
