
.menu-button {
    background-color: transparent;
    transition: background-color 0.3s ease;
}
.side-menu {
    width: 250px;
    height: 100vh;
    background-image: url("../../img/sss.jpg");
    background: rgba(0, 0, 0, 0.5); /* Qoraytirish (0.5 = 50%) */
    backdrop-filter: blur(20px); /* Blur effekti */
    position: fixed;
    top: 0;
    right: -250px;
    transition: right 0.5s ease;
    z-index: 1000;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.3);
}

.side-menu ul {
    list-style: none;
    padding: 70px 20px;
}

.side-menu ul li {
    margin: 20px 0;
}

.side-menu ul li a {
    width: 60%;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.side-menu ul li a:hover {
    color: #f4f4f4;
}

.side-menu.active {
    right: 0;
}

.close-button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50px;
    right: 30px;
    content: url("../../img/close-button.png");
    background-color: transparent;
}

.menu-button-single{
    display: none;
    background-image: url("../../img/Menu-button-single.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 16px;
}
@media (max-width:450px) {
    .menu-button-single{
        display: block;
    }
}